<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-lang="Mtitle">En Mantenimiento</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="shortcut icon" href="../../source/logo/icon new loto.png" />

    <link href="../../style/maintenance.css" rel="stylesheet">
    <link href="../../style/indexfolder/header.css" rel="stylesheet">


</head>
<body>
    <main>
        <header>
            <nav class="container">
                <a href="/" class="logo">PProyect</a>

                <div class="menu-toggle" id="menuToggle">
                    <i class="fa fa-bars" id="menuIcon"></i>
                </div>

                <ul class="nav-links" id="navLinks">
                    <li>
                        <a href="#" class="iconflagsMX" onclick="changeLanguage('es')">
                            <img src="https://flagcdn.com/w40/mx.png" 
                                alt="México" 
                                class="flag" 
                                style="width:30px; height:30px; margin-left:5px; vertical-align:middle; border-radius: 50%;">
                        </a>
                        <a href="#" class="iconflagsUSA" onclick="changeLanguage('en')">
                            <img src="https://flagcdn.com/w40/us.png" 
                                alt="USA" 
                                class="flag" 
                                style="width:30px; height:30px; margin-left:5px; vertical-align:middle; border-radius: 50%;">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container containerM">       
            <div class="left">
                <img src="../../source/logo/icon new loto.png" alt="logo">
            </div>

            <div class="right">
                <h1 data-lang="oops">UPSS</h1>
                <p class="subtitle" data-lang="maintenance-title">Pagina en Mantenimiento.</p>

                <div class="line"></div>

                <p class="description" data-lang="maintenance-desc">
                    La Pagina se encuentra en mantenimeinto o no esta todavia disponible, porfavor dar click al boton de regresar.
                </p>

                <button><a href="/" style="text-decoration: none; color: white;" data-lang="maintenance-back">Regresar</a></button>
            </div>
        </div>


    </main>
</body>
</html>
<script src="../../js/indexfolderjs/header.js"></script>
<script src="../../js/esp-en.js"></script>