/* main Section Styles */
.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url(../../source/img/paisaje-oriental-del-anime.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    position: relative;
}

.main h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards 0.5s;
}

.main p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards 0.7s;
}

.btn-button {
    display: inline-block;
    background-color: rgb(255, 101, 158);
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards 0.9s;
    border: solid white 2px;
}

.btn-button:hover {
    background-color: rgb(252, 68, 136);
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .main h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1s ease forwards 0.5s;
    }
}