/* SECTION 3 */

.section-3 {
    height: 60vh;
    background-image: url(../../source/img/paisaje-oriental-del-anime.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* OVERLAY */
.section-3::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);
    z-index: 1;
}

/*header seccion3*/
.section3-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 30px;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 3;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.section3-header h2 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.badge {
    background: #ff005d;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}


/*SPHERE */
#sphere-container {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    z-index: 2;
    touch-action: none;
}

/*MODAL IMAGENSPHERE */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#sphere-container canvas {
    pointer-events: none; 
}

.modal img {
    max-width: 95%;   
    max-height: 90%;  
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    transition: transform 0.3s ease;
}

/* BOTÓN CERRAR */
.modal .close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: transparent;
    cursor: pointer;
}

/* FLECHAS */
.modal .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 20px;
    z-index: 5;
}

.modal .left {
    left: 20px;
    z-index: 5;
}

.modal .right {
    right: 20px;
    z-index: 5;
}

@media (max-width: 768px) {
    .section3-header h2 {
        display: none;
    }
    .section-3 {
        height: 70vh;
    }

    #sphere-container {
        top: 19%;
    }

    .modal .left {
        display: none;
    }

    .modal .right {
        display: none;
    }

    .modal .close {
        top: 100px;
        right: 20px;
        font-size: 80px;
        z-index: 3;
        color: white;

    }
}
