.section-6 {
    height: 15vh;
    background-image: url(../../source/img/paisaje-oriental-del-anime.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background6{
    background: linear-gradient( to right, rgba(0,0,0,0.75) 40%, rgba(0,0,0,0.2) );
}

.ocean {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 300px;
}

.wave { 
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='rgba%28255%2C101%2C158%2C0.82%29'/%3E%3C/svg%3E"); 
    position: absolute; 
    width: 200%; 
    height: 100%; 
    animation: wave 10s -3s linear infinite; 
    transform: translate3d(0, 0, 0); 
    opacity: 0.8; 
} 

.wave:nth-of-type(2) { 
    animation: wave 18s linear reverse infinite; 
    opacity: 0.5; 
} 

.wave:nth-of-type(3) { 
    animation: wave 20s -1s linear infinite; 
    opacity: 0.5; 
} 

@keyframes wave { 
    0% { transform: translateX(0); } 
    50% { transform: translateX(-25%); } 
    100% { transform: translateX(-50%); } 
} 

.section6-container { 
    width: 100vw;
    height: 15vh;
}

/*top*/
.footer-top { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 50px;
} 

.footer-logo { 
    display: flex; 
    align-items: center; 
    z-index: 60;;
} 

.footer-logo h2 { 
    font-weight: 600; 
    z-index: 60;;
} 

.footerlogo { 
    width: 100px; 
    height: auto; 
} 

.footer-social a { 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    border: 1px solid rgba(255,255,255,0.2); 
    border-radius: 50%; 
    margin-left: 10px; 
    color: white; 
    text-decoration: none; 
    transition: 0.3s; 
} 

.footer-social a:hover { 
    background: rgba(255,255,255,0.1); 
} 

/* LINEA */ 
.footer-bottom { 
    border-top: 2px solid white; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-size: 13px; 
} 

.footer-bottom span { 
    padding-left: 3% 
} 

.footer-legal { 
    margin-left: -30px; 
    padding-right: 3%;
} 

.footer-legal a { 
    margin-left: 20px; 
    text-decoration: none; 
    color: white; 
    opacity: 0.7; 
    transition: 0.3s; 
} 

.footer-legal a:hover { 
    opacity: 1; 
}

@media (max-width: 768px) {

    .section-6 {
        height: 30vh;
    }

    .wave {
        width: 200%; 
        background-size: 300% 100%; 
    }

    .section6-container { 
        height: 30vh;
    }

    .footer-top { 
        padding-left: 5px; 
        padding-right: 5px; 
        padding-top: 100px;
    } 

    .footer-social a { 
        width: 40px; 
        height: 40px; 
    } 

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-legal a {
        font-size: 0.6rem;
    }
}